@using System.Security.Claims
@using AutoMapper.Internal.Mappers
@using Contract.AppConfigs;
@using Core.Const
@using Core.Enum
@using Microsoft.AspNetCore.Components
@using WebClient.Exceptions
@using WebClient.LanguageResources
@using WebClient.Service.AppConfigs
@using WebClient.Service.JS
@using WebClient.Setting
@using Color = MudBlazor.Color
@using NotificationType = Core.Enum.NotificationType
@using Variant = MudBlazor.Variant
@using DialogPosition = MudBlazor.DialogPosition
@using Size = MudBlazor.Size
@inherits LayoutComponentBase
@inject NavigationManager _navManager
@inject NavigationManager _navigationManager;
@inject JsonStringLocalizer _localizer;
@inject AppConfigService _appConfigService;
@inject JsService _jsService;
@*
<RadzenRow Gap="0">
    <RadzenColumn Size="12">
        <div>
            <RadzenImage Path="@BlazorSetting.BrandURL" Class="img_logo" Style="max-width:190px;align-items: center; padding:4px"></RadzenImage>
        </div>
        @appConfig?.CompanyName <br/>
        @appConfig?.LogoURL <br/>
        @appConfig?.IconURL <br/>
        @appConfig?.Address <br/>
        @appConfig?.Email <br/>
        @appConfig?.Phone <br/>
        @appConfig?.Introduction <br/>
        @appConfig?.Terms <br/>
        @appConfig?.Conditions <br/>
        @appConfig?.HeaderCode <br/>
        @appConfig?.PrimaryColor <br/>
        @appConfig?.SecondaryColor <br/>
    </RadzenColumn>
</RadzenRow>*@
@Body
@*@RenderSection("scripts", required: false)*@
@*
@code {
    public bool IsLoading { get; set; } = true;
    public AppConfigDto appConfig { set; get; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await GetAppConfig();
                StateHasChanged();
            }
            catch (Exception e)
            {

            }
        }
    }

    public async Task GetAppConfig()
    {
        appConfig = await _appConfigService.GetAppliedConfigAsync();
        BlazorSetting.BrandURL = appConfig?.LogoURL;
        _jsService.setFavicon(BlazorSetting.IconURL);
    }
}*@