@section Headers {
    <link href="~/css/pages/shared/breadcrumb.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/pages/shared/top-banner.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/pages/contact/contact.js"></script>
}

<!-- Start Banner
============================================= -->
<section class="banner-section">
    <div class="top-banner-carousel owl-carousel owl-theme text-center">
        <div class="item">
            <div class="banner-item">
                <div class="banner-body">
                    <img src="/img/banner-tin.png" alt="Liên hệ">
                    <div class="banner-body-content">
                        <div class="container banner-body-content-header">
                            <div class="banner-title">
                                <div class="banner-title-content">
                                    <h2>Liên hệ</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="breadcrumb-panel">
        <div class="container breadcrumb-body">
            <ul class="breadcrumb">
                <li>
                    <a href="/">
                        <span>
                            <svg focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="HomeIcon">
                                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                            </svg>Trang chủ
                        </span>
                    </a>
                </li>
                <li><span>Liên hệ</span></li>
            </ul>
        </div>
    </div>
</section>

<section class="container mt-4 mb-5">
    <div class="text-center">
        <h1 class="content-title content-title-full-line d-inline-flex position-relative">Liên hệ với chúng tôi</h1>
    </div>
    <div class="d-flex w-100 flex-wrap gap-3 mt-5">
        <div class="w-100">
            <iframe class="gg-lien-he" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15406.696668469847!2d108.791146!3d15.1212762!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3169ad246c7d4121%3A0x7afb59791fa9b4be!2zU-G7nyBOw7RuZyBOZ2hp4buHcCAmIFBow6F0IFRyaeG7g24gTsO0bmcgVGjDtG4gUXXhuqNuZyBOZ8OjaQ!5e0!3m2!1svi!2s!4v1704122143598!5m2!1svi!2s" width="100%" height="337" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>