@section Headers {
    <link href="~/css/pages/shared/breadcrumb.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/pages/shared/top-banner.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/pages/contact/contact.js"></script>
}

<!-- Start Banner
============================================= -->
<section class="banner-section">
    <div class="top-banner-carousel owl-carousel owl-theme text-center">
        <div class="item">
            <div class="banner-item">
                <div class="banner-body">
                    <img src="https://api-danang.drcare.app/uploads/images/mWUmcYsk/638076441726797486.png" alt="Liên hệ">
                    <div class="banner-body-content">
                        <div class="container banner-body-content-header">
                            <div class="banner-title">
                                <div class="banner-title-content">
                                    <h2>Liên hệ</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="breadcrumb-panel">
        <div class="container breadcrumb-body">
            <ul class="breadcrumb">
                <li>
                    <a href="/">
                        <span>
                            <svg focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="HomeIcon">
                                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                            </svg>Trang chủ
                        </span>
                    </a>
                </li>
                <li><span>Liên hệ</span></li>
            </ul>
        </div>
    </div>
</section>

<section class="container mt-4 mb-5">
    <div class="text-center">
        <h1 class="content-title content-title-full-line d-inline-flex position-relative">Liên hệ với chúng tôi</h1>
    </div>
    <div class="d-flex w-100 flex-wrap gap-3 mt-5">
            <div class="w-100">
                <iframe class="gg-lien-he" width="100%" height="337" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.9798933861593!2d108.23414831395887!3d16.066533143779836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142182a70a5d4f9%3A0x386b8e86591cb4a8!2zMjE2IE5ndXnhu4VuIEPDtG5nIFRy4bupLCBBbiBI4bqjaSBC4bqvYywgU8ahbiBUcsOgLCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1588850538760!5m2!1svi!2s" frameborder="0"></iframe>
            </div>
    </div>
</section>