nav.navbar.bootsnav ul.nav > li > a {
    vertical-align: middle;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-size: 0.8rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 8px !important;
    color: #000;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before {
    position: absolute;
    right: 10px;
}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle .icon {
    fill: currentColor;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    width: 20px;
    height: 20px;
    color: #2698F1;
}

ul.nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 50px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.25rem !important;
}

    ul.nav-menu > li > a {
        line-height: 18px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-family: Roboto,sans-serif;
        margin: 0;
        color: #222222;
        text-align: center
    }

        ul.nav-menu > li > a:hover {
            color: #2698F1 !important;
        }

nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
    width: inherit;
}

ul.dropdown-menu.sub-menu {
    position: absolute;
    transform: none;
    transition: display 267ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 178ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 0px 0px;
    overflow: hidden auto;
    max-height: 50vh;
    min-width: 250px;
}

    ul.dropdown-menu.sub-menu > li > a > span {
        padding-right: 0.5rem;
        white-space: nowrap
    }

    ul.dropdown-menu.sub-menu > li:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.04);
    }

    ul.dropdown-menu.sub-menu > li a:hover {
        color: #2698F1 !important;
    }

.dropdown-right .position-fixed ul.dropdown-menu.sub-menu {
    right: 100% !important;
    left: auto !important;
}

nav.no-background .dropdown .menu-wrapper {
    top: 6.35rem;
}

nav .dropdown .menu-wrapper {
    top: 3.75rem;
}

.search-box {
    margin-left: auto;
    position: relative;
}

    .search-box input {
        position: absolute;
        width: 150px;
        height: 50px;
        right: 49px;
        top: 0px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: #fff;
        outline: none;
        border: none;
        padding: 0 15px;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        opacity: 0;
        visibility: hidden;
        box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    }

        .search-box input.active {
            width: 250px;
            opacity: 1;
            visibility: visible;
            right: 49px;
        }

    .search-box button {
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        color: #fff;
        background: #2698F1;
        border: none;
        cursor: pointer;
    }

.main-panel {
    margin-top: 1.0rem;
    align-items: flex-end;
    flex-wrap: nowrap;
    transition: margin-top .3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

nav.bootsnav:has(.no-background) .top-panel {
    top: 0px
}

nav.bootsnav:not(.no-background) .top-panel {
    top: -40px;
}

nav.bootsnav:not(.no-background) .main-panel {
    margin-top: 0px !important;
}

.top-panel {
    position: absolute;
    top: 0px;
    left: 304px;
    width: 100vw;
    height: 40px;
    background: #2698F1;
    border-radius: 0px 0px 0px 10px;
    padding-left: 19px;
    padding-top: 3px;
    transition: top .3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    box-sizing: border-box;
}

.top-header {
    max-width: 856px;
}

header .hot-line {
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    header .hot-line svg {
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: 20px;
        color: #fff;
    }

    header .hot-line .phone-number {
        font-size: 1rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        margin-left: 7px;
    }

header .login-panel {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    header .login-panel .login-button {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        outline: 0;
        border: 0;
        margin: 0;
        border-radius: 0;
        padding: 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        -moz-appearance: none;
        -webkit-appearance: none;
        -webkit-text-decoration: none;
        text-decoration: none;
        color: inherit;
        font-family: Roboto,sans-serif;
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.75;
        text-transform: uppercase;
        min-width: 64px;
        padding: 4px 5px;
        border-radius: 4px;
        -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        color: #2698F1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
    }

    header .login-panel .change-lang {
        cursor: pointer;
    }

/*Mobile menu*/
.sidenav {
    content: "";
    /*display: none;*/
    width: 0px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1039;
    -webkit-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -moz-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -ms-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

    .sidenav.opened {
        display: block;
        width: 100vw;
    }

.rightSidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1040;
    -webkit-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -moz-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -ms-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sidenav.opened .rightSidenav {
    width: 500px;
}

.rightSidenav .close-panel {
    position: absolute;
    top: 0;
    padding: 1.25rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: right;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

    .rightSidenav .close-panel a {
        font-size: 2.25rem;
    }

/* Search input */
.rightSidenav .search-input {
    flex: 1 1 0%;
}

    .rightSidenav .search-input label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .rightSidenav .search-input .txt-seatch {
        width: 100%;
        padding: 14px;
        display: block;
        outline: none;
        border: 1px solid #2698F1;
    }

.rightSidenav .btn-search:hover {
    background-color: rgb(103, 198, 63) !important;
    color: #fff;
}

/* plus glyph for showing collapsible panels */
.rightSidenav .mobile-menu .panel-heading {
    background-color: #fff;
    padding: 0px;
    border-radius: 0px;
    border: none;
    text-align: left;
    padding: 8px 16px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #2698F1;
    font-size: 1rem;
}

    .rightSidenav .mobile-menu .panel-heading:hover, .mobile-menu .panel-collapse .menu-item:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.04);
    }

    .rightSidenav .mobile-menu .panel-heading:has(div.collapse.in) {
        background: rgb(38, 152, 241, 0.8) !important;
    }

    .rightSidenav .mobile-menu .panel-heading .panel-title a {
        color: rgb(34, 34, 34);
        padding: 4px 0px;
        font-weight: 500;
        width: 100%;
        display: inline-block;
    }

.rightSidenav .mobile-menu .panel-collapse .menu-item {
    padding: 10px 15px 0px;
}

.rightSidenav .mobile-menu .panel-heading.is-submenu {
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.rightSidenav .mobile-menu .panel-collapse .menu-item {
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

    .rightSidenav .mobile-menu .panel-collapse .menu-item a {
        color: rgb(34, 34, 34);
        padding: 10px 0px;
        font-size: 14px;
        width: 100%;
        display: block;
    }

        .rightSidenav .mobile-menu .panel-heading:not(.is-submenu) a:hover,
        .rightSidenav .mobile-menu .panel-collapse .menu-item a:hover {
            color: #67c63f;
        }

/* arrow glyph for showing collapsible panels */
.rightSidenav .mobile-menu .panel-heading .accordion-arrow-toggle:before {
    float: right;
    color: silver;
    font-family: "Font Awesome 5 Free";
    content: "\f077";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.rightSidenav .mobile-menu .panel-heading .accordion-arrow-toggle.collapsed:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.on-mobile {
    display: none !important;
}

    .on-mobile.no-background {
        background: transparent !important;
    }

    .on-mobile .btn-nav {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 1.75;
        text-transform: uppercase;
        min-width: 64px;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        padding: 10px 5px;
        color: rgb(225, 225, 225);
    }

        .on-mobile .btn-nav svg {
            user-select: none;
            height: 1em;
            display: inline-block;
            fill: currentcolor;
            flex-shrink: 0;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-size: 1.5rem;
            width: 30px;
            color: rgb(103, 198, 63);
        }

.on-desktop {
    display: block;
}

.logon-modal .modal-header {
    border-bottom: none;
    padding-bottom: 0px;
}

    .logon-modal .modal-header h3 {
        margin: 0px;
    }

.logon-title {
    font-size: 25px;
    color: rgb(250, 176, 25);
    text-transform: uppercase;
}

.input-icon-panel {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    margin: 0.5rem;
    position: absolute;
}

    .input-icon-panel svg {
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentcolor;
        flex-shrink: 0;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: 1.5rem;
        color: rgb(0, 176, 174);
    }

.input-group-custom:has(.input-icon-panel) input {
    padding-left: 3rem;
}

.btn-login:hover {
    background: rgb(103, 198, 63) !important;
    border: 1px solid rgb(103, 198, 63);
    color: #fff;
}

.btn-register:hover {
    background: #2698F1 !important;
    border: 1px solid #2698F1;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .on-mobile {
        display: flex !important;
        justify-content: flex-end;
        /*position: fixed;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;*/
    }

    .on-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .modal-md {
        width: 450px;
    }
}

@media screen and (max-height: 450px) {
    .rightSidenav {
        padding-top: 15px;
    }

        .rightSidenav a {
            font-size: 18px;
        }
}


@media (max-width: 480px) {
    .sidenav.opened .rightSidenav {
        width: 100%;
    }
}
