.social-panel {
    position: fixed;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    /*width: 250px;*/
    /*height: 310px;*/
    z-index: 99;
}

    .social-panel .social-item {
        width: 56px;
        margin-bottom: 10px;
        border-radius: 40px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 12px;
        transition: width 0.4s linear 0s;
    }

        .social-panel .social-item:hover {
            width: 250px;
        }

        .social-panel .social-item a {
            color: #2698F1;
        }

        .social-panel .social-item .social-content {
            position: relative;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            outline: 0px;
            border: 0px;
            margin: 0px;
            cursor: pointer;
            user-select: none;
            vertical-align: middle;
            appearance: none;
            text-decoration: none;
            font-family: Roboto, sans-serif;
            line-height: 1.75;
            text-transform: uppercase;
            min-width: 64px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            color: rgb(255, 255, 255);
            border-radius: 40px;
            padding: 8px;
            font-size: 14px;
            font-weight: 500;
            width: 250px;
            -webkit-box-pack: start;
            -webkit-box-align: center;
            box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
            background: #2698F1 !important;
        }

            .social-panel .social-item .social-content:hover {
                background-color: rgb(103, 198, 63) !important;
            }

            .social-panel .social-item .social-content .icon {
                min-width: 40px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                background: rgb(255, 255, 255);
                color: #2698F1;
            }

            .social-panel .social-item .social-content:hover .icon {
                color: rgb(103, 198, 63) !important;
            }


@media (max-width: 960px) {
    .social-panel {
        display: none;
    }
}
