/* Banner section */
.banner-section {
    width: 100%;
    position: relative;
}

.item .item-box {
    position: relative;
    padding-bottom: calc((968 / 1920) * 100%);
}

    .item .item-box .banner {
        object-fit: cover;
    }

.imageBox {
    width: 100%;
    object-fit: cover;
    transition: all 0.3s linear 0s;
}
.section-title
{
    margin-bottom:30px;
}
#tongDanGiaSucChart, #tongDanGiaCamChart, #sanLuongThitGiaSucChart, #sanLuongThitGiaCamChart, #sanLuongTrungChart,
#sanLuongSuaChart, #sanLuongSanXuatThucAnChart, #sanLuongTieuThuThucAnChart, #dichBenhChart, #tiemPhongChart, #thongKeChart {
    margin: 10px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    padding:20px;
}
.item-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.item-container {
    width: 100%;
    margin: 0 auto;
}

.item-outline-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-top: 115px;
}

.item-inline-content {
    max-width: 550px;
}

    .item-inline-content a {
        color: #2698F1;
    }

.item-header-title {
    margin: 0;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 3.75rem;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    line-height: 70px;
    max-width: 435px;
    text-align: left;
    text-transform:uppercase;
}

.item-header-content {
    margin: 0;
  
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    margin-top: 16px;
    text-align: justify;
}

.item-body-content {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.75;
    min-width: 64px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: auto;
    margin-top: 15px;
    background: #67c63f;
    border-radius: 20px;
    padding: 14px 20px;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    height: 50px;
}

.contact-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 11;
    background-color: rgb(38, 152, 241, 0.8);
}

.contact-panel-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.contact-panel-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url(/img/banner_contacttime.png);
    width: 100%;
}

.contact-panel-item {
    height: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgb(38, 152, 241, 0.8);
    border-right: 1px solid white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}

    .contact-panel-item p {
        color: #fff !important;
    }

    .contact-panel-item:last-child {
        border-right: none;
    }

.contact-panel-item-title {
    margin-left: 5px;
    font-size: 16px;
}

.contact-panel-item-content {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

/* End Banner section */

/* Our Service section */
.our-service-section {
    max-width: 100%;
    overflow: hidden
}

.title_center {
    clear: both;
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 25px;
    line-height: 35px;
    color: #4C4C4C;
    text-transform: uppercase;
}

.descript_title {
    position: relative;
    top: 20px;
    padding: 0 25%;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #6C6C6C;
}

.khung_dv {
    text-align: center;
    float: left;
    width: 20%;
    padding: 15px;
}

    .khung_dv a {
        color: #2698F1;
    }

        .khung_dv a:hover {
            color: #67c63f;
        }

            .khung_dv a:hover p {
                color: #67c63f !important;
            }

.box_sl_dv {
    padding: 10px 10px 10px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

    .box_sl_dv:hover {
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.2);
    }

    .box_sl_dv img {
        display: inline;
        height: 50px;
    }

    .box_sl_dv:hover img {
        filter: hue-rotate(-70deg);
    }

    .box_sl_dv p {
        overflow: hidden;
        height: 45px;
        text-transform: uppercase;
        font-family: Roboto;
        margin-bottom: 0;
        margin-top: 20px;
        font-size: 14px;
        color: #6C6C6C;
    }
/* End Our Service section */
/* Hightlight Service section */
.highlight-service-section {
    min-height: 520px;
    margin-top: 80px;
}

.highlight-service-container {
    width: 100%;
    margin: 0px auto;
}
/* End Hightlight Service section */
/* Search section */
.search-section {
    position: relative;
    height: 520px;
}

    .search-section:before {
        content: "";
        position: absolute;
        left: 106px;
        bottom: -64px;
        width: 546px;
        height: 550px;
        background-image: url(/img/nurse.png);
        background-repeat: no-repeat;
    }

.search-container {
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.search-body {
    margin-left: 275px;
    padding-bottom: 72px;
    width: 100%;
}

.search-message {
    position: relative;
    padding: 20px 40px;
    background: rgb(38, 152, 241);
    border-radius: 80px;
    text-align: center;
    width: auto;
    display: inline-block;
    color: rgb(255, 255, 255);
}

    .search-message:before {
        content: "";
        position: absolute;
        left: -35px;
        bottom: 8px;
        width: 66px;
        height: 30px;
        background: rgb(38, 152, 241);
        clip-path: polygon(71.4% 25.3%, 75.6% 47.3%, 79.6% 65.8%, 86.3% 80.8%, 97.1% 96%, 33.8% 98.3%, 0% 100%, 28% 74.8%, 48.7% 52.5%);
    }

    .search-message .message-title {
        font-size: 26px;
        margin: 10px 0px 0px;
        font-style: italic;
        color: rgb(255, 255, 255);
    }

    .search-message .message-content {
        font-size: 26px;
        margin: 20px 0px 0px;
        font-weight: 500;
        color: rgb(255, 255, 255);
    }

.search-section-box {
    margin-top: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(38, 152, 241);
    border-radius: 10px;
}

    .search-section-box .btn-custom {
        border-radius: 10px;
    }

.search-input {
    height: 100%;
    flex: 1 1 0%;
    border: none;
    background: transparent;
    outline: none;
    padding: 20px 10px;
}

.search-divice {
    border-left: 1px solid rgb(187, 187, 187);
}

.search-by-type {
    line-height: 1.4375em;
    letter-spacing: 0.05em;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(34, 34, 34);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    margin-left: 15px;
    min-width: 150px;
    outline: none;
}

.search-type {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*appearance: none;*/
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 12.5px 14px;
}

.search-specialty-tags {
    font-size: 16px;
    margin-top: 26px;
}

    .search-specialty-tags .specialty-title {
        color: rgb(38, 47, 54);
        font-weight: 500;
    }

    .search-specialty-tags .specialty-tags {
        /*font-style: italic;*/
        margin-left: 10px;
        line-height: 26px;
    }

        .search-specialty-tags .specialty-tags a {
            color: rgb(38, 152, 241);
        }

            .search-specialty-tags .specialty-tags a:hover {
                color: rgb(103, 198, 63);
            }
/* End Search section */
/* Specialty */
.doctor-section {
    min-height: 696px;
    background-image: url("/img/Mask group.png");
}
.experience-section {
    min-height: 500px;
    background: url("/img/experience_mobile.png") center top no-repeat;
   
}
.doctor-panel {
    margin: 0px auto;
    padding-top: 75px;
    padding-bottom: 110px;
}
.mobile-text {
    left: 0px;
    margin-top: 50px;
    max-width: inherit;
}

/* End Specialty */
/* Health News */
.headlth-news-section {
    min-height: 1125px;
    background: rgb(247, 249, 251);
}

.headlth-news-container {
    width: 100%;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
/* End Health News */
/* Experience */
.experience-section {
    max-width: 100%;
    overflow: hidden;
}

   /* .experience-section img {
        max-width: inherit;
    }*/
/* End Experience */
@media (min-width: 600px) {
    .banner-section img {
        max-height: 350px;
        object-fit: cover;
    }
    .khung_dv_img {
        width: 49% !important;
    }
}

@media (min-width: 960px) {
    .banner-section {
        max-height: 650px;
        overflow: hidden;
    }

        .banner-section img {
            max-height: unset;
            object-fit: cover;
        }

    .contact-panel, .contact-panel-background, .contact-panel-body {
        height: 168px;
    }

    .retail-price {
        display: none;
    }
    .khung_dv_img {
        width: 20% !important;
    }
}

@media (min-width: 996px) and (max-width: 1700px) {
    .search-section:before {
        bottom: 0px;
        left: 0px;
        width: 250px;
        height: 260px;
        background-size: 250px 260px;
    }
}

@media (max-width: 960px) {

    .item .item-box {
        padding-bottom: 550px;
    }

        .item .item-box .banner {
            width: 100%;
            height: 550px;
            object-fit: cover;
        }

    .item-content {
        margin-top: 140px;
    }

    .item-container {
        padding: 0 16px;
    }

    .item-outline-content {
        margin-top: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .item-inline-content {
        max-width: 700px;
    }

        .item-inline-content .item-header-title,
        .item-inline-content .item-header-content {
            text-align: center;
        }

        .item-inline-content .item-header-content-center {
            justify-content: center !important;
        }

    .item-header-content {
        line-height: 30px;
        font-size: 18px;
        color: #1d1c1c;
        margin-top: 40px;
        text-align: left;
        text-align: center;
    }

    .item-inline-content-desc {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .item-body-content {
        margin-top: 70px;
        margin-right: auto;
    }

    .contact-panel-body {
        display: block !important;
    }

    .contact-panel {
        position: relative;
    }

    .contact-panel-background {
        height: 390px;
    }

    .contact-panel-item {
        padding: 10px 0;
        border-right: none;
        border-bottom: 1px solid white;
        height: 130px;
    }

        .contact-panel-item:last-child {
            border-bottom: none;
        }

    .contact-panel-item-body {
        display: block;
        height: auto;
    }

    .search-section {
        padding-bottom: 140px;
        height: 365px;
    }

        .search-section:before {
            bottom: 0px;
            left: 0px;
            width: 200px;
            height: 222px;
            background-size: 200px 222px;
        }

    .search-container {
        padding: 0px 16px;
    }

    .search-body {
        padding-bottom: 20px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .search-message {
        order: 1;
        margin-left: 220px;
        padding: 10px 15px;
        border-radius: 20px;
    }

        .search-message .message-title {
            font-size: 14px;
            margin-bottom: 5px;
        }

        .search-message .message-content {
            font-size: 14px;
            margin-top: 0px;
        }

    .search-section-box {
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .search-input {
        padding: 0px;
    }

    .search-specialty-tags {
        display: none;
    }

    .search-divice {
        display: none;
    }

    .doctor-panel {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .doctor-panel-header {
        display: none !important;
    }

    .carousel-navigate {
        display: none;
    }

    .highlight-service-section {
        margin-top: 16px;
    }

        .highlight-service-section > .container > .mb-5 {
            margin-bottom: 16px !important;
        }

    .news-content > .mt-5 {
        margin-top: 20px !important;
    }
    .mobile-text {
        width: 100% !important;
    }

    .mobile-img {
        display: none !important;
    }
}

@media (max-width: 599px) {
    .search-section {
        padding-bottom: 100px;
    }

    .search-message {
        order: 1;
        margin-left: 120px;
        padding: 10px 15px;
        border-radius: 20px;
    }
    .experience-section {
        
      
    }
    .mobile-text {
        width: 100% !important;
    }

    .mobile-img {
       display:none !important;
    }
}
